.wrapper {
    min-height: calc(100vh - 15px);
    margin: 15px auto 0;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.white_theme {
    background-color: #0e1621;
}

.black_theme {
    background-color: #fff;
}